#contact {
	background: url("http://media.syracuse.com/post-standard/photo/2014/03/14534860-essay.jpg") no-repeat center center fixed;
	background-size: cover;
};

.contactText {
	background-color: rgba(240, 240, 240, .5);
};

#homeLink {
 	font-size: 20px;
};