#search {
	background: url("http://hdwallpapers.cat/wallpaper/velocity_blur_tail_lights_cityscape_streaks_hd-wallpaper-1694135.jpg") no-repeat center center fixed;
	background-size: cover;
};

.searchParams {
	color: rgb(240, 240, 240);
};


.image {
	border: 3px solid black;
};

#addCrawl {
	padding-top: 10px;
};

.barResults {
	border-bottom-width: 2px;
  	border-bottom-color: grey;
   	border-bottom-style: solid;
   	padding-bottom: 10px;
};

#homeLink {
 	font-size: 20px;
};