#search {
	background: url("http://hdwallpapers.cat/wallpaper/velocity_blur_tail_lights_cityscape_streaks_hd-wallpaper-1694135.jpg") no-repeat center center fixed;
	background-size: cover;
};

.searchParams {
	color: rgb(240, 240, 240);
};


#mapPage {
	background-color: rgb(237, 237, 237);
};

.image {
	border: 3px solid black;
};

#addCrawl {
	padding-top: 10px;
};

/*.navbar-right {
	padding-right: 20px;
};*/

#crawlTitle {
	background-color: rgba(240, 240, 240, .5);
};

.barDetails {
	color: rgb(200, 200, 200);
	padding-bottom: 20px;
};

.homeButtons {
	height: 40px;
	width: 150px;
	font-family: 'Play', sans-serif;
	font-size: 30px;
	padding-bottom: 5px;
	margin: 5px 25px 10px 25px;
};

#crawlImage {
	background: url("http://www.mcbrides-pub.com/images/bg.jpg") no-repeat center center fixed;
	background-size: cover;
};

.barResults {
	border-bottom-width: 2px;
  	border-bottom-color: grey;
   	border-bottom-style: solid;
   	padding-bottom: 10px;
};

.barImage {
	border: 2px solid grey;
	position: absolute;
	width: 100%;
	max-width: 100px;
};

.barImageDiv {
	padding-bottom: 15px;
};

.map-container {
	padding-left: 30px;
	padding-right: 30px;
};

#homeLink {
 	font-size: 20px;
};

.homeButtons {
	height: 40px;
	width: 150px;
	font-family: 'Play', sans-serif;
	font-size: 30px
};

#map-canvas {
	border: 2px solid black;
};

.detailsLink {
	padding-bottom: 15px;
};

