// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search {
	background: url("http://hdwallpapers.cat/wallpaper/velocity_blur_tail_lights_cityscape_streaks_hd-wallpaper-1694135.jpg") no-repeat center center fixed;
	background-size: cover;
};

.searchParams {
	color: rgb(240, 240, 240);
};

.image {
	border: 3px solid black;
};

#addCrawl {
	padding-top: 10px;
};