<!DOCTYPE html>
<html>
<head>
  <title>BarCrawlApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</body>
</html>
